* {
    margin: 0;
    padding: 0;
}

nav {
    color: rgb(0, 0, 0);
}

.img {
    height: 600px;
}

.AboutUs {
    height: 50vh;
    background-color: #eeeeee;
    align-content: center;
}

.BrandList {
    height: 50vh;
    position: relative;
    background-color: #eeeeee;
}

.Footer {
    height: 400px;

    background-color: rgb(37, 37, 37);

    color: rgb(221, 221, 221);
}

hr {
    color: aliceblue;

    width: 96%;
}