h6 {
    max-width: 345px;
    text-align: center;
    margin: 10px auto;
    padding-left: 25px;
    position: relative;
    opacity: 50%;
  }
  
h6:before, h6:after {
    content: "";
    display: block;
    height: 1px;
    width: 115px;
    background-color: black;
    position: absolute;
    top: 50%;
  }

h6:before {
    left: 50px;
  }
  
h6:after {
    right: 20px;
  }